* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.banner {
  height: 70vh;
  width: 100%;
}

.navbar-css {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: #50514f;
  z-index: 1;
}

.nav-header-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  list-style-type: none;
}

.nav-link-css img {
  height: 7vh;
}

.nav-link-css a {
  height: auto;
  display: block;
  text-decoration: none;
  margin: 0 1rem;
  padding: 1rem 0;
  color: #ffe066;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.nav-link-css a:hover {
  color: #ececec;
  text-decoration: none;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h4 {
  color: #247ba0;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: #50514f;
}

.movie {
  -webkit-box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.movie .btn-primary {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #222;
  background: #ffe066;
  padding: 0.4rem 0.9rem;
  border: 3px solid #ffe066;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}

.movie .btn-primary:hover {
  background: transparent;
  color: #ffe066;
  border-color: #ffe066;
}

.movie:hover {
  -webkit-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.movie-link {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.img-container {
  position: relative;
  width: 23em;
  height: 30em;
}

.img-container img {
  width: 23em;
  height: 30em;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .age-top {
  opacity: 0;
}

.img-container:hover .movie-link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.age-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #ffe066;
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.age-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1;
}

.movie-info {
  width: 23em;
  color: white;
  background: #50514f;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1;
}

.sigle-movie .img-container-single {
  width: 30%;
  float: left;
}

.sigle-movie .img-container-single img {
  margin: 0 3em;
  width: 100%;
}

.sigle-movie .img-container-single button {
  position: relative;
  margin: 0 3em;
  width: 100%;
}

.sigle-movie .movie-info-single {
  width: 60%;
  float: right;
}

.sigle-movie h6 {
  font-weight: 500;
}

.grid-container-movie {
  margin: 0 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(350px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 20px;
}

.grid-container-movie img {
  width: 50%;
  display: block;
}

.screen {
  text-align: center;
}

.grid-container-seat {
  margin: 0 auto;
  width: 30%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (30px)[10];
      grid-template-columns: repeat(10, 30px);
}

.grid-container-seat .grid-item {
  margin: 5px 30px;
}

.grid-container-seat button:hover {
  background: #ececec;
}

.error {
  color: red;
}

.container-time {
  border-bottom: 2px solid black;
}

.container-time button {
  margin: 10px 5px;
}

.container-seat {
  border-bottom: 2px solid black;
}

.container-seat button {
  margin: 10px 5px;
}

.container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-button h4 {
  margin: auto;
  padding-left: 5px;
}

.footer {
  width: 100%;
  margin-top: 100px;
  background: #50514f;
  color: white;
  height: 300px;
}
/*# sourceMappingURL=app.css.map */