* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.outer {
  background: #ececec;
}

body {
  color: #222;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.navbar {
  background: #50514f;
}

.nav-link {
  color: #ffe066;
}

.nav-right {
  position: relative;
  left: 600px;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h4 {
  color: #247ba0;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: #50514f;
}

.movie {
  -webkit-box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.movie .btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #222;
  background: #ffe066;
  padding: 0.4rem 0.9rem;
  border: 3px solid #ffe066;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}

.movie .btn-primary:hover {
  background: transparent;
  color: #ffe066;
  border-color: #ffe066;
}

.movie:hover {
  -webkit-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.movie-link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .age-top {
  opacity: 0;
}

.img-container:hover .movie-link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.age-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #ffe066;
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.age-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 3px;
}

.movie-info {
  color: white;
  background: #50514f;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}

.footer {
  margin-top: 100px;
  background: #50514f;
  color: white;
  height: 300px;
}
/*# sourceMappingURL=app.css.map */